

.weather{
    background-color: beige;
}

.region{
    text-align: center;
}

.weather{
    background-image: url("../img/page_background.jpg");
    height: 800px;
    background-size: cover;
    display: grid;
}

.weather-container{
    align-self: center;
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: skyblue;
    opacity: .7;
    box-shadow:  5px 5px 5px 5px;
    
    display: flex;
    color: black;
}

.weather-pin{
    margin-left: 15px;
    margin-top: 15px;
}

.weather-name{
    font-size: 21.7px;
    margin-top: 17px;
}

.weather-temp{
    font-size: 21.7px;
    margin-top: 17px;
}
.weather-condition{
    font-size: 21.7px;
    margin-top: 17px;
}

.weather-icon{
    margin-top: -35px;
    ;
}
